/*添加话题框架*/
.container .topicAddPanel {
    width: 100%;
    height: 100px;
/*    border: 1px solid blue;*/
}

/*查找框*/
.topicAddPanel .searchwrap {
    width: 1170px;
    height: 38px;
    margin: 30px auto 0 auto;
    border: 1px solid #394b5b;
    font-size: 15px;
    text-align: center;
}
/*查找框-标签*/
.topicAddPanel .searchwrap .namewrap {
    display: block;
    width: 215px;
    height: 100%;
    float: left;
    border-right: 1px solid #394b5b;
}

.topicAddPanel .searchwrap .labelwrap {
    display: block;
    width: 420px;
    height: 100%;
    float: left;
    border-right: 1px solid #394b5b;
}

.topicAddPanel .searchwrap .stratdatewrap {
    display: block;
    width: 176px;
    height: 100%;
    float: left;
    border-right: 1px solid #394b5b;
}

.topicAddPanel .searchwrap .enddatewrap {
    display: block;
    width: 176px;
    height: 100%;
    float: left;
    border-right: 1px solid #394b5b;
}

.topicAddPanel .searchwrap .selectwrap {
    display: block;
    width: 89px;
    height: 100%;
    float: left;
}

.topicAddPanel .searchwrap select {
    width: 100%;
    height: 96%;
    border: none;
    background: #deebf1;
    color: #1a252b;
    text-indent: 2em;
    font-size: 14px;
}

/*
#dateselect{
    position: absolute;
    right:120px;
    bottom:87px;
}
*/


.topicAddPanel .searchwrap input {
    width: 100%;
    height: 96%;
    border: none;
/*    background: url(../img/search.png) 5px center no-repeat #deebf1;*/
    background: #deebf1;
    color: #1a252b;
    text-indent: 2em;
    font-size: 14px;
}
/*查找框-按钮*/
.topicAddPanel .searchwrap .btnwrap {
    display: block;
    width: 90px;
    height: 100%;
    float: left;
}
.topicAddPanel .searchwrap .btnwrap button {
    width: 90px;
    height: 100%;
    float: left;
    border: none;
    background: #14b7f4;
    color: #1a252b;
    font-family: "Microsoft Yahei";
    outline: none;
}

.topicAddPanel .searchwrap .btnwrap button:hover {
    color: #fff;
}


/*添加话题框架*/
.container .topicListPanel {
    width: 100%;
    display: block;
}

.topicListPanel .leftWindow{
    width: 255px;
/*    height: 500px;*/
    margin-bottom: 30px;
    float: left;
}

.topicListPanel .leftWindow .title{
    padding: 10px 0px;
    color: black;
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.topicListPanel .leftWindow .topicType{
    color: black;
    font-size: 18px;
    text-align: center;
    width: 170px;
    
    background: #14b7f4;
    color: #1a252b;
    padding: 5px 15px;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 25px;
}


.topicListPanel .rightWindow{
    width: 965px;
    height: 500px;
    margin-left: 35px;
    margin-bottom: 30px;
    float: left;
}

/*
.topicListPanel .topicListWindow{
    width: 100%;
    height: 250px;
    border: 1px solid blue;
}
*/

.topicListPanel .block {
    width: 930px;
/*    height: 360px;*/
    float: left;
    background: #AEEEEE;
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 15px;
    
    
    border: 1px solid yellow;
}



.topicListPanel .block .head {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #394b5b;
    height: 45px;
    font-size: 25px;
    padding-left: 25px;
}

.topicListPanel .block .head .type {
    background: #14b7f4;
    color: #1a252b;
    padding: 3px 10px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 25px;
}

.topicListPanel .block .head .situation {
    background: Lime;
    color: #1a252b;
    padding: 3px 10px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 25px;
}

.topicListPanel .block .body {
    clear: both;
    padding: 5px 10px;
    height: 80px;
    font-size: 16px;
    line-height: 17px;
    color: black;
    overflow: hidden;
    border-bottom: 1px solid #394b5b;
}

.topicListPanel .block .otherinfo{
    padding-top: 16px;
    padding-right: 25px;
    padding-left: 45px;
    color: black;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    float: right;
}
